

/*slaider*/
.insulada
{
   
    aspect-ratio: 12/16;
    width: 700px;
    position: relative;
    display:flex;
    overflow: scroll;
    margin-left: 25%;
    scroll-snap-type: x mandatory;/*madre para mantener la posicion actual y que no se quede a medias */
    overflow-x: scroll;
    overflow-y: hidden;
    height: 580px;
   
}
.insulada img
{
width: 100%;
left: 0;
position: sticky;
object-fit: cover;
border-radius: 5px;
scroll-snap-align: center;
}

span
{
    color: orange;
    font-size: 35px;
    margin-left: 40%;
}
.oculto1
{
    display: none;
}
button {
    font-size: 18px;
    color: black;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
    margin-left: 15%;
    margin-top: 1%;
  }
  
  button:focus, button:hover {
    color: black;
  }
  
  button:focus:after,
  button:hover:after {
    width: 100%;
    left: 0%;
  }
  
  button:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: black;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }
  video
  {
    margin-left: 25%;
    width:50%;
  }
 